@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

/* :root {
  --clr-bcg: hsl(0, 0%, 98%);
  --clr-font: hsl(200, 15%, 8%);
  --clr-elements: hsl(0, 0%, 52%);
} */

.dark-theme {
  --clr-bcg: hsl(207, 26%, 17%);
  --clr-font:  hsl(0, 0%, 100%);
  --clr-elements: hsl(209, 23%, 22%);
}

.light-theme {
  --clr-bcg: hsl(0, 0%, 98%);
  --clr-font: hsl(200, 15%, 8%);
  --clr-elements: hsl(0, 0%, 52%);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--clr-bcg);
}

/* Header*/

.header {
  background-color: var(--clr-bcg);
  box-shadow: var(--clr-elements) 0px 2px 8px 0px;
}

/* .searchFilterBox */

.searchFilterBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-flow: row wrap;
  padding: 40px 0;
}

input[type=text],
input[type=placeholder] {
  color: var(--clr-font);
}

/* select region box */

.select {
  width: 14%;
}

.select p {
  color: var(--clr-font);
  opacity: 0.6;
}

/* Link */

a {
  text-decoration: none;
  color: var(--clr-font);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.img-col {
  width: 100%;
  max-width: 600px;
  min-width: 350px;
  height: auto;
  margin: 0 1rem;
}

.img-col img {
  max-width: 100%;
  height: auto;
  box-shadow: var(--clr-elements) 0px 2px 8px 0px;
}

.card-content p {
  font-weight: 600;
  color: var(--clr-font);
}

.info-text {
  font-weight: 300;
  color: var(--clr-font);
}

.row-container {
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}

.content-desc {
  justify-content: space-between;
  align-items: baseline;
}

.description {
  margin: 10px 1rem;
}

.col h2 {
  font-size: 2.4rem;
  color: var(--clr-font);
}

.col p {
  margin: 0.3rem 0;
  color: var(--clr-font);
}

.first-col p span,
.second-col p span,
.third-col p span {
  font-weight: 600;
  color: var(--clr-font);
}

.btn {
  margin: 0 2px;
  padding: 5px 18px;
  outline: none;
  border: 0 solid #fff;
  border-radius: 5px;
  background-color: var(--clr-bcg);
  color: var(--clr-font);
  box-shadow: var(--clr-elements) 0px 2px 8px 0px;
}

.btn:hover {
  cursor: pointer;
}

.back-btn {
  height: 15vh;
  align-items: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  width: 100px;
  height: 100px;
}

.card-content {
  background-color: var(--clr-bcg);
  color: var(--clr-font);
}

.MuiCard-root {
  box-shadow: var(--clr-elements) 0px 2px 8px 0px;
}