
/* General */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.MuiContainer-maxWidthLg {
  padding: 0;
}
/* Header*/


.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

.searchFilterBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-flow: row wrap;
  padding: 40px 0;
}
